<nav class="navbar navbar-expand-md glass-navbar fixed-top pb-2 pt-5">
    <div class="{% if page.container_class %}{{ page.container_class }}{% else %}container-{{ site.data.display.width }}{% endif %} px-3 my-1">
        <a class="navbar-brand fs-4 px-2" href="{{ '/' | relative_url }}"><strong>{{site.data.profile.navbar_name}}</strong></a>
        <button class="navbar-toggler" style="font-size: 1em; padding: 0.5em;" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% for item in site.data.navigation.pages %}
                <li class="nav-item {% if item.name == page.navbar_title %}active{% endif %} px-3">
                    <a class="nav-link fs-3 px-0" href="{{ item.url | relative_url }}">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
