@charset "utf-8";

:root {
    --primary: #1E88E5;       /* 主题蓝 (标题/强调) */
    --secondary: #90CAF9;    /* 辅助蓝 (图标/边框) */
    --background: #535557;   /* 背景白蓝 */
    
    --a-color: #2196F3;
    --a-hover: #1976D2;

    --card-color: #FFFFFF;

    --font-color: #2C3E50;
    --background-color: #FAFBFC;

    --ico-color: #1E88E5;

    --shadow-color: rgba(0, 0, 0, 0.1);   /* 导航栏边框 */

  }
  
  @media (prefers-color-scheme: dark) {
    :root {

        --a-color: #64B5F6;
        --a-hover: #1976D2;

      --card-color: #1E1E1E;

      --font-color: #E0E0E0;
      --background-color: #121212;

      --shadow-color: rgba(117, 117, 117, 0.1);
    }
  }


  .ico-color {
    /* color: #1E88E5 */
    color: var(--ico-color);
}


body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding-top: 5.0rem;
    color: var(--font-color);
    background-color: var(--background-color);
}

.my-figure {
    border-radius: 16px;
}
.my-card {
    background-color: var(--card-color);
    border-radius: 20px;
    box-shadow: 4px 4px 24px var(--shadow-color);
}

a {
    color: var(--a-color);
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
a:hover {
    color: var(--a-hover); 
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
}

.text-profile-position {
    font-weight: 400;
}

.text-profile-bio {
    /* font-family: "Raleway"; */
    font-weight: 400;
}

.inline-badge {
    height: 16px;
    vertical-align: -10%;
    margin-right: 2px;
    line-break: unset;
}

.no-break {
    white-space: nowrap;
}

.cover-image {
    width: 180px;
    max-height: 120px;
}

.abstract-body {
    min-height: 100px;
}

img.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

div.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

.badge-publication {
    font-size: 100%;
}

.email-text {
    font-family: Courier, monospace;
}

#map { height: 300px; width: 100%; }