{% assign news_by_year = site.news | sort: "date" | reverse | slice: 0, include.limit | group_by_exp: "item", "item.date
| date: '%Y'" -%}
<div class="card border-0 mt-4 mx-2 my-card">
    <div class="card-body p-4">
        <div class="p-2">
            <div class="mb-1">
                <h4 class="mx-2 mt-1 pb-2 mb-2 separate-color"><i class="fas fa-rss ico-color"></i> News</h4>

                <div class="mx-3">
                    {% for year in news_by_year %}
                    <div class="media py-1 {% if not_first and false -%}border-top separate-color{%- endif %}">
                        {% assign not_first = true %}
                        <div class="mr-3 muted-color my-1">{{ year.name }}</div>
                        <div class="media-body">
                            {% for item in year.items %}
                            <div class="my-1 d-flex">
                                <div>{{ item.title }}</div>
                                <div class="ml-auto mt-auto muted-color no-break"><i>{{ item.date | date: "%b %d" }}</i>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>