{% assign item = include.item %}
<div class="d-block">
    <div class="py-2">
        <h5 class="mt-1 mb-0">{{ item.title }}</a></h5>
        <p class="mt-1 mb-0 mx-2">{% include widgets/author_list.html authors=item.authors bold=true %}</p>
        <p class="mt-0 mb-1 mx-2">{{item.pub_pre}}<i>{{ item.pub }}</i> ({{ item.pub_post }}{{ item.pub_date }}{{ item.pub_last }})</p>
        <!-- <p class="mt-0 mb-1 mx-1">{{ item.abstract }}</p> -->
        <p class="mx-1">
            {% for link in item.links %}
            {% if link[1].url %}
            <a class="link-button" target="{{ link[1]['target'] }}" href="{{ link[1]['url'] }}">{{ link[0] }}</a>
            {% else %}
            <a class="link-button" target="_blank" href="{{ link[1] }}">{{ link[0] }}</a>
            {% endif %}
            {% endfor %}
        </p>
    </div>
</div>